body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.alto__100 {
    height: 100vh;
}

#card__one {
    width: 275px;
}

#text__desc {
    font-size: 0.8em;
}

h5, h6{
    font-weight: 900;
}

.text__card__two p {    
    font-weight: 600;
}

#text__desc, .text__card__tow p, #btn_cancel {
    opacity: 0.6;
}

.card {
    border-radius: 15px;
}

.card-body img {
    border-radius: 10px 10px 0px 0px;
}

#card__two{
    font-size: 0.7em;
}

#card__two h6 {
    font-size: 1.1em;
}

button {
    width: 80%;
    border-radius: 10px !important;
    font-size: 0.7em !important;
    padding: 10px 0px !important;
}

#btn_pay {
    box-shadow: 0px 20px 20px rgb(209, 209, 209) !important;
    background-color: hsl(245, 75%, 52%);
}

#btn_pay:hover {
    background-color: hsla(245, 75%, 52%, 0.7);
}

#btn_cancel:hover {
    opacity: 1;
}